@tailwind base;
@tailwind components;
@tailwind utilities;
.animated-heading {
    animation-name: slideInTop;
    animation-duration: 1.5s;
  }
  
  @keyframes slideInTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animated-form {
    animation-name: slideInBottom;
    animation-duration: 1.5s;
  }
  
  @keyframes slideInBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  